.navbar {
    display: flex;
    background-color: navy;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-brand img {
    height: 50px;
}

.navbar-nav {
    text-decoration: none;
    color: #fff;
    font: 24px;
    font-weight: bold;
    transition: color 0.3s;
    justify-content: space-between;

}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}


.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 60%;
}

.search-input {
    border: none;
    padding: 4px;
    flex: 1;
    font-size: 16px;
    outline: none;
}

.search-button {
    background-color: rgb(59, 82, 195);
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    align-items: center;
    border-radius: 2px;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: rgb(47, 66, 156);
}

.search-button i {
    font-size: 16px;
}

.right-icons {
    display: flex;
    align-items: center;
}

.right-icons div {
    margin-left: 20px;
}

.right-icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.cart {
    position: relative;
    cursor: pointer;
}

.cart-summary {
    display: flex;
    align-items: center;
    position: relative;
}

.cart-summary div {
    position: absolute;
    top: 15px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 100%;
    padding: 2px 8px;
    font-size: 12px;
}


.cart-details {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: max-height 0.3s ease-out;
}


.cart-details ul {
    list-style: none;
    padding: 0;
    margin: 0 0 10px;
}

.cart-details ul li {
    margin-bottom: 5px;
}

.cart-notification li:last-child {
    border-bottom: none;
}

.cart-details .remove-quantity {
    width: 40px;
    padding: 4px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.cart-details .remove-from-cart {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 4px 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-details .remove-from-cart:hover {
    background-color: #ff3b3b;
}

.cart-notification {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #4CAf50;
    color: white;
    padding: top;
    border-radius: 5px;
    z-index: 2000;
    opacity: 1;
    transition: opacity 0.5s;
}

.cart-notification.fade {
    opacity: 0;
}

.hamburger-menu {
    position: relative;
}

.menu-toggle {
    cursor: pointer;
}

.menu-toggle img {
    width: 30px;
    height: 30px;
}

.menu-content {
    border-top-left-radius: 10px;
    position: fixed;
    top: 76px;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: rgb(59, 82, 195);
    color: white;
    border-left: 1px solid #ccc;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: right 0.3s ease;
    overflow-y: auto;
    padding-top: 60px;
}

.menu-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-content ul li {
    border-bottom: 1px solid #ddd;
}

.menu-content ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgb(213, 213, 213);
}

.menu-content ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #333;
}


.menu-content ul li ul.subcategories {
    display: none;
    margin: 1rem;
    background-color: #21206a;
}

/* Style for when the menu is toggled */
.hamburger-menu.active .menu-content {
    right: 0;
}

.hamburger-menu .menu-content .subcategories {
    display: flex;
    flex-direction: column;
}

.hamburger-menu .menu-content .subcategories.active {
    display: flex;
}
