{% extends 'base.html' %}

{% block title%}
    Logout Confirm
{% endblock %}

{% block content %}
    <h1 style="margin-left: 20px;">Are you sure you want to logout?</h1>
    <form class="container-fluid" id="logout-form" action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Yes, Logout</button>
        <button class="btn btn-outline-secondary"><a class="link-secondary" href="{% url 'profile' %}">Cancel</a></button>
    </form>
    <!-- <a style="margin-left: 20px;" href="{% url 'profile' %}">Cancel</a> -->

{% endblock %}