{% load static %}

{% block extra_head %}
{% endblock %}
    

    <nav class="navbar navbar-expand-sm sticky-top" style="background-color: navy;">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'vigo-transparent.png' %}" alt="Logo"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'product_list' %}">Shop</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
                <li class="nav-item active">
                    {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    {% endif %}
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'about' %}">About Us</a>
                </li>
                <!-- <li class="nav-item active">
                    <a class="user" href="{% url 'profile' %}"><img src="{% static 'user.png' %}" alt="profile"></a>
                </li> -->
            </ul>
            <div class="right-icons">
                <div class="search-bar">
                    <form action="{% url 'search' %}">
                        {% csrf_token %}
                        <input type="text" placeholder="Search..." name="search" class="search-input">
                        <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div class="profile">
                    <a href="{% url 'profile' %}">
                        <img src="{% static 'user.png' %}" alt="profile">
                    </a>
                </div>
                <div class="cart" id="cart">
                    <div class="cart-summary">
                        <img src="{% static 'shopping-cart.png' %}" alt="cart">
                        <div class="item-count">0</div>
                    </div>
                    <div class="cart-details">
                        <ul>
                            
                        </ul>
                        <button class="btn btn-outline-primary"><a href="{% url 'cart_view' %}">Go to Cart</a></button>
                    </div>
                </div>
                <div class="hamburger-menu" id="hamburger-menu">
                    <div class="menu-toggle" id="menu-toggle">
                        <img src="{% static 'menu-burger.png' %}" alt="Menu">
                    </div>
                    <nav class="menu-content" id="menu-content">
                        <ul>
                            {% for category in top_level_categories %}
                                <li>
                                    <a href="#" class="top-level-category">{{ category.title }}</a>
                                    {% if category.subcategories.all %}
                                        <ul class="subcategories">
                                            {% for subcategory in category.subcategories.all %}
                                                <li><a href="#">{{ subcategory.title }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                        
                                </li>
                            {% endfor %}    
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </nav>
<div class="overlay" id="overlay"></div>