.right-icons {
    display: flex;
    align-items: center;
}

.right-icons div {
    margin-left: 20px;
}

.right-icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.cart {
    position: relative;
    cursor: pointer;
}

.cart-summary {
    display: flex;
    align-items: center;
}

/* .cart-summary img {
    height: 50px;
} */

.cart-details {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: max-height 0.3s ease-out;
}


.cart-details ul {
    list-style: none;
    padding: 0;
    margin: 0 0 10px;
}

.cart-details ul li {
    margin-bottom: 5px;
}


/* Item Card Styles */

.item-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin: 10px;
}

.item-card:hover {
    transform: scale(1.05);
}

.item-card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.item-card-content {
    padding: 16px;
}

.item-card-price {
    font-size: 1.2em;
    color: #888;
    margin: 0 0 10px 0;
}

.item-card-platform {
    font-size: 1em;
    color: #555;
}

/* Product List Style */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}